.Dashboard {
	overflow: auto;
	display: flex;
	height: 100%;
	padding: 100px 150px 0;
}

.DashboardHeader {
	flex: 1 0 auto;
	border-left: 2px solid var(--border-grey-light);
	padding-left: 16px;
	margin-right: 64px;
}

.DashboardHeader__items {
	border: 1px solid var(--border-grey-light);
	display: flex;
	flex-direction: column;
	width: 140px;
	justify-content: center;
	background: var(--white);
}

.DashboardHeader__itemMain {
	height: 77px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid var(--border-grey-light);
}

.DashboardHeader__item {
	height: 60px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid var(--border-grey-light);
}

.DashboardHeader__item:last-child {
	border-bottom: none;
}

.DashboardResult {
	margin-bottom: 28px;
}

.DashboardResult__main {
	background: var(--green);
	display: flex;
	justify-content: space-between;
	width: 440px;
	padding: 15px 25px;
	border-radius: 4px;
}

.DashboardResult__main h6 {
	font-size: 18px;
}

.DashboardResult__mainFlex {
	flex: 1;
}
.DashboardResult__span {
	display: flex;
	align-items: center;
}
.DashboardResult__growth {
	position: relative;
	padding-left: 20px;
}
.DashboardResult__growth:before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background: url("../../public/icons/icon-arrow-top-white.svg");
	position: absolute;
	left: 5px;
	top: 4px;
}